:root {
  --mblue: #6768ff;
}
*{ 
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  overflow: scroll;
    overflow-x: hidden;
}
    
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
body {
  background-color: black;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
